.user-not-authorized {
    position: absolute;
    padding: 200px;
}

.projects-link {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}