<div fxLayout="row" fxLayoutAlign="start center" class="ml10">
  <img width="40" src="/assets/icons/access_management.png" />
  <span class="page-title">Gestion des accès</span>
</div>
<div flexLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field appearance="outline" fxFlex="50" class="pt-16">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Rechercher par nom, prénom, email" type="text" [(ngModel)]="searchInput"
      (input)="getAccounts()">
    <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput='';getAccounts()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<ng-container *ngIf="accounts.length > 0">
  <table class="mat-elevation-z1" mat-table matSort [dataSource]="dataSource" (matSortChange)="sortChanged($event)">
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>


    <ng-container *ngFor="let item of menu" [matColumnDef]="item.title">
      <th mat-header-cell *matHeaderCellDef> {{item.title}} </th>
      <td mat-cell *matCellDef="let user">
        <mat-slide-toggle color="primary" (change)="updateAccess(user, item, $event)"
          [checked]="checkAccessibility(user, item)">
        </mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="mat-elevation-z1" (page)="pageChanged($event)" [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize" [length]="length"></mat-paginator>
</ng-container>
