<router-outlet *ngIf="isAuthenticated"></router-outlet>
<ngx-ui-loader
  fgsColor="#FFFFFF"
  fgsPosition="center-center"
  [fgsSize]=60
  fgsType="folding-cube"
  bgsType="three-bounce"
  bgsColor="#3f51b5"
  [bgsOpacity]="0.8"
  bgsPosition="center-center"
  [bgsSize]=90
  [gap]=24
  logoPosition="center-center"
  [logoSize]=100
  [logoUrl]="'../../assets/icons/loader_logo.png'"
  masterLoaderId="master"
  overlayBorderRadius="0"
  overlayColor="rgba(40, 40, 40, 0.8)"
  pbColor="#3f51b5"
  pbDirection="ltr"
  [pbThickness]=3
  [hasProgressBar]=true
  text="Veuillez Patientez...."
  textColor="#FFFFFF"
  textPosition="center-center"
></ngx-ui-loader>
