.add-project-dialog {
    width: 640px;

    .mat-mdc-dialog-container {
        padding: 0;
    }
}

.fix-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}